@media (min-width: 1281px){

	#logo
	{
		width: 20%;
		background-color: red;
		display: inline-block;
		/*border: none;*/
		/*border: 0px;*/
	}
}
@media (max-width: 1280px){
	#logo
	{
		width: 50%;
		background-color: blue;
	}
}
/*#logo
	{
		width: 50%;
		background-color: red;
}*/